@charset "utf-8";

/*============================================
	― 変数設定
=============================================*/
$main-color: #16375d;
$grade-slight: linear-gradient(30deg, rgba(231, 237, 242, 0.9) 0%, rgba(244, 248, 252, 0.9) 35%, rgba(255, 255, 255, 0.9) 100%);
$box-shadow-plane: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow-main: rgba(236, 236, 236, 0.2) 0 7px 29px 0;;
$black-color: #000000;
$black34-color: #343434;
